.imgslideLeft {
  border-radius: 30px;

  width: 100% !important;
}
/* Media Query To Make Image Responsive */
@media (min-width: 750px) {
  .imgslideLeft {
    height: 450px !important;
  }
}
@media (min-width: 995px) {
  .imgslideLeft {
    height: 450px !important;
  }
}
@media (min-width: 1200px) {
  .imgslideLeft {
    height: 600px !important;
  }
}
@media (min-width: 1400px) {
  .imgslideLeft {
    height: 750px !important;
  }
}

.rightHeroVid {
  position: relative;
  border-radius: 30px !important;
  border: none !important;
}
.rightVideo {
  border-radius: 20px !important;
  border: none !important;
}
.rightVideo:hover {
  transform: scale(1.1);
}

.col-lg-4 {
  margin-top: 12px !important;
}

.rightHeroVid p {
  position: absolute;
  left: 12%;
  font-size: 1.4rem;
  font-weight: 600;
}

.card {
  border-radius: 20px !important;
  border: none !important;
  margin: 20px 0;
}
